<template>
  <div>
    <form v-on:submit.prevent="helloTest">
      <span>名前：</span>
      <input type="text" v-model="name" id="aa" required>
      <button>送信</button>
    </form>
    <div>{{greeting}}</div>
  </div>
</template>

<script>
export default {
  name: 'Hello',
  data() {
    return {
      name: '',
      greeting: '',
    };
  },
  methods: {
    helloTest() {
      this.greeting = `${this.name}さん、こんにちは`;
    },
  },
};

</script>

<style scoped>
  p {
    font-size:50px;
  }

</style>
